#! /usr/bin/env bash
{% if item.value.default_target is defined -%}
export TARGET={{ item.value.default_target }}
{% endif -%}
setlock "/var/run/getmail.{{ item.key }}" /usr/bin/getmail --rcfile="$HOME/.getmail/{{ item.key }}" \
        --getmaildir=/var/run/oldmail -n
