#! /usr/bin/env bash
{% if item.value.default_repository is defined -%}
export REPOSITORY={{ item.value.default_repository }}
{% endif -%}
setlock "/var/run/getmail.{{ item.key }}" /usr/bin/getmail --rcfile="$HOME/.getmail/{{ item.key }}" \
        --getmaildir=/var/run/oldmail -n
